<body>

  <table class="table table-hover sortable">
    <thead>
      <tr>
          <th>Name</th>
            <th>ID</th>
            <th>Address</th>
            <th>Phone</th>     
            <!-- <th>action</th> -->
      </tr>
    </thead>
    <tbody>
            <% @user_info_total.each do |x| %>
              <tr>
                  <td id="name_attribute"><%= link_to x.name, user_path(x), :method => 'get' %></td>
                  <td><%= x.employee_id %></td>
                  <td><%= x.address %></td>
                  <td><%= x.phone %></td>
                  <!-- <td><%= link_to  %></td> -->
              </tr>
            <% end %>
    </tbody>
  </table>


</body>