<div> 
      <ul >
            Name:
            <%= @user_info.name %>
            </li>
            <li>
            Employee ID:
            <%= @user_info.employee_id %>
            </li>
            <li>
            Address:
            <%= @user_info.address %>
            </li>
            <li>
            Phone:
            <%= @user_info.phone %>
            </li>

      </ul>
      <%= link_to_if(!@subordinate_infos.nil?, "show my subordinates", {controller: "sessions", action: "new"}) %>

      <table border="1" style="width:100%">
        <thead>
          <tr>
           
            <th>Name</th>
            <th>ID</th>
            <th>Address</th>
            <th>Phone</th>     

          </tr>
        </thead>
        <tbody>
          <% @subordinate_infos.each do |x| %>
            <tr>
                <td><%= x.name %></td>
                <td><%= x.employee_id %></td>
                <td><%= x.address %></td>
                <td><%= x.phone %></td>
            </tr>
          <% end %>
        </tbody>
      </table>




</div>