<div> 
      <ul >
            Name:
            <%= @user_info.name %>
            </li>
            <li>
            Employee ID:
            <%= @user_info.employee_id %>
            </li>
            <li>
            Address:
            <%= @user_info.address %>
            </li>
            <li>
            Phone:
            <%= @user_info.phone %>
            </li>

      </ul>
      <%= link_to_if(!@subordinate_infos.nil?, "show my subordinates", {controller: "sessions", action: "new"}) %>
      <table>
        <thead>
          <tr>
            <% @subordinate_infos.first.attributes.each do |attr| %>
              <th><%= attr%></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @subordinate_infos.each do |x| %>
            <tr>
              <% x.attributes.each do |attr| %>
                <td><%= x[attr] %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>


</div>