<main>

<div class="user-tabs">

  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">Profile</label>
    
  <input id="tab2" type="radio" name="tabs">
  <label for="tab2">Certificates</label>
    
  <input id="tab3" type="radio" name="tabs">
  <label for="tab3">Class</label>

  <% if @user.is_supervisor %>
    <input id="tab4" type="radio" name="tabs">
    <label for="tab4">Employees</label>
  <% end %>
    
  <section id="content1">
<div class="center"> 
      <table style="width:50%">
        <tr>
        <th>Name</th>
          <th> <%= @user_info.name %> </th>
        </tr>
        <tr>
          <th>Employee ID</th>
          <th> <%= @user_info.employee_id %> </th>
        </tr>
        <tr>
          <th>SSN</th>
          <th> <%= @user_info.ssn %> </th>
        </tr>
        <tr>
          <th>Phone Number</th>
          <th> <%= @user_info.phone %> </th>
        </tr>
        <tr>
          <th>Division</th>
          <th> <%= @user_info.division %> </th>
        </tr>
        
      </table>
</div>
  </section>
    
  <section id="content2">

   <table border="1" style="width:50%">
        <thead>
          <tr>
           
            <th>Certificate Name</th>
            <th>Issued By</th>
            <th>Issue Date</th>
            <th>Credit hour</th>
          </tr>
        </thead>
        <tbody>
           <% @user_certificates.each do |x| %>
              <tr>
                  <td><%= x.certificate_name %></td>
                  <td><%= x.issued_by %></td>
                  <td><%= x.date_issued %></td>
                  <td><%= x.credit_hour %></td>
              </tr>
            <% end %>
        </tbody>
      </table>

 
  </section>
    
  <section id="content3">
     <table border="1" style="width:80%">
        <thead>
          <tr>
            <th>Class Name</th>
            <th>Class Number</th>
            <th>CE Hours</th>
            <th>Grade</th>
          </tr>
        </thead>
        <tbody>
           <% @user_classes.each do |x| %>
              <tr>
                  <td><%= @class_names[x.class_number] %></td>
                  <td><%= x.class_number %></td>
                  <td><%= x.ce_hours %></td>
                  <td><%= x.grade %></td>
              </tr>
            <% end %>
        </tbody>
      </table>
  </section>
    
  <section id="content4">

    <table border="1" style="width:50%">
      <caption>Information of Employees</caption>
        <thead>
          <tr>
           
            <th>Name</th>
            <th>ID</th>
            <th>Address</th>
            <th>Phone</th>     
            <th>action</th>
            
          </tr>
        </thead>
        <tbody>
          <% if @user.is_supervisor%>
            <% @user_info_total.each do |x| %>
              <tr>
                  <td><%= x.name %></td>
                  <td><%= x.employee_id %></td>
                  <td><%= x.address %></td>
                  <td><%= x.phone %></td>
                  <td><%= link_to "Edit" "" %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
  </section>
    
</div>
</main>